[html]
directory = coverage_html_report
[run]
#omit south
omit =
    gsb/migrations*
    gsb/tests*
    sql/*
    perso/*
source = .
[report]
excludes_lines=
    from .* import .*
    pragma: no cover
    raise NotImplementedError

ignore_errors = True
#show_missing = True
