{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% load gsb_extras %}
{% block content %}
    <table width="100%" id="boutons" class="table">
        {% if compte.ouvert %}
            <tr>
                <td width="50%" class="boutton"><a href="{% url gsb_cpt_ope_new compte.id %}">Nouvelle Op.</a></td>
                <td width="50%" class="boutton"><a href="{% url gsb.views.index %}">retour liste comptes</a></td>
            </tr>
            <tr>
            <td width="100%" class="boutton" colspan="2"><a href="{# TODO #}"> Nouveau Virement vers {{ compte.nom }} </a></td></tr>
        {% else %}
            <tr><td width="100%" class="boutton" colspan="2"><a href="{% url gsb.views.index %}">retour liste comptes</a></td></tr>
        {% endif %}
    </table>
    <br/>
    <table id="main"class="table">
        <thead class="entete">
        <tr>
            <td class="opDate">Date</td>
            <td class="opTier">Tiers</td>
            <td class="opTier">Catégorie</td>
            <td class="opDebit">Crédit</td>
            <td class="opDebit">Débit</td>
        </tr>
        </thead>
        {% block ope %}
            {% for ope in list_ope %}
                <tr class="item hover{% if ope.montant > 0 %} creditElement{% endif %}{% if ope.montant < 0 %} debitElement{% endif %}">
                    <td class="opDate"><a href="{{ ope.get_absolute_url  }}">{{ ope.date}}</a> </td>
                    <td class="opTier"><a href="{{ ope.get_absolute_url  }}">{{ ope.tiers.nom|default:"aucun tiers" }}</a></td>
                    <td class="opTier"><a href="{{ ope.get_absolute_url  }}">{{ ope.cat.nom|default:"aucune cat&eacute;gorie" }}</a></td>
                    <td class="opCredit"><a href="{{ ope.get_absolute_url  }}">{% if ope.montant > 0 %}{{ ope.montant|cur }}{% else %} - {% endif %}</a></td>
                    <td class="opDebit"><a href="{{ ope.get_absolute_url  }}">{% if ope.montant < 0 %}{{ ope.montant|cur }}{% else %} - {% endif %}</a><td>
                </tr>
                {% empty %}
                <tr class="item">
                    <td colspan="5">
                        aucune op&eacute;ration n&#39;est affich&eacute;e.<br/>
                        {% if nbfiltre > 1 %}
                            {{ nbfiltre }} op&eacute;rations ont &eacute;t&eacute; filtr&eacute;es car elles sont au del&agrave; de la limite des {{ NB_JOURS_AFF }} jours maximum.<br/>
                        {% else %} {% if nbfiltre == 1 %}
                            1 op&eacute;ration a &eacute;t&eacute; filtr&eacute;e car elle est au del&agrave; de la limite des {{ NB_JOURS_AFF }} jours maximum.<br/>
                        {% endif %}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
        <tr class="footerbar">
            <td colspan="3" class="cptLabel">Solde</td>
            <td colspan="2" class="cptSolde">{{ solde|cur }}</td>
        </tr>
    </table>
    <p>
    {% if nbrapp == 1 %}
        note: 1 op&eacute;ration est filtr&eacute;e car elle est rapproch&eacute;e.<br/>
    {% endif %}
    {% if nbrapp > 1 %}
       note: {{ nbrapp }} op&eacute;rations ont &eacute;t&eacute; filtr&eacute;es car elles sont rapproch&eacute;es.<br/>
    {% endif %}
    {% if nbvielles > 1 %}
        note: {{ nbvielles }} op&eacute;rations ont &eacute;t&eacute; filtr&eacute;es car elles sont trop vielles.<br/>
    {% endif %}
    {% if nbvielles == 1 %}
        note: 1 op&eacute;ration est filtr&eacute;e car elle est trop vieille.<br/>
    {% endif %}
    seul les opérations apr&egrave;s le {{ date_limite }} sont affich&eacute;es.<br/>
    </p>
{% endblock content %}
