{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% load gsb_extras %}
{% block titre %}<h1 class="survol"><a href="{% url gsb.outils.options_index %}">Comptes</a></h1>{% endblock titre %}
{% block content %}
    <h2>comptes esp&egrave;ces ou bancaires</h2>
    <table id="banques" class="table">
        {% for cpt in liste_cpt_bq %}
            <tr class="item padding">
                <td class="cptLabel"><a href="{% url gsb.views.cpt_detail cpt.id %}">{{ cpt.nom }} {% if not cpt.ouvert  %}(clotur&eacute;){% endif %}</a></td>
                <td class="cptSolde"><a href="{% url gsb.views.cpt_detail cpt.id %}">{{ cpt.solde|cur:dev }}</a></td>
            </tr>
        {% empty %}
            <tr class="item padding">
                <td class="cptLabel" colspan="2"> aucun compte  esp&egrave;ce ou bancaire</td>
            </tr>
        {% endfor %}
        <tr class="entete">
            <td class="cptLabel">Solde comptes banques et comptes esp&egrave;ces</td>
            <td class="cptSolde">{{ total_bq|cur:dev }}</td>
        </tr>
    </table>
    <h2>Comptes titres</h2>
    <table id="placements" class="table">
        {% for cpt in liste_cpt_pl %}
            <tr class="item padding">
                <td class="cptLabel">
                <a href="{% url gsb.views.cpt_titre_detail cpt.id %}">{{ cpt.nom }} {% if not cpt.ouvert %}(clotur&eacute;){% endif %}</a></td>
                <td class="cptSolde"><a href="{% url gsb.views.cpt_titre_detail cpt.id %}">{{ cpt.solde|cur:dev }}</a></td>
            </tr>
        {% empty %}
            <tr class="item padding">
                <td class="cptLabel" colspan="2"> aucun Compte Comptes titres</td>
            </tr>
        {% endfor %}
        <tr class="entete">
            <td class="cptLabel">Solde des comptes titre</td>
            <td class="cptSolde">{{ total_pla|cur:dev }}</td>
        </tr>
    </table>
    <table id="total" class="table">
        <tr class="footerbar">
            <td class="cptLabel">Solde global</td>
            <td class="cptSolde">{{ total|cur:dev }}</td>
        </tr>
    </table>
    {% if nb_clos > 0 %}<p>PS: il y a {{ nb_clos }} compte{% if nb_clos > 1 %}s{% endif %} clos.</p>{% endif %}

{% endblock content %}
