{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% load gsb_extras %}
{% block content %}
<form id='form1' action="" method="post">
    {% csrf_token %}
    <fieldset class="operationMainTable">
    <table>
        {{form.pk}}
        {% if form.compte.errors %}
        <tr><td>{{ form.compte.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.compte.label_tag }}(*)</th><td>{{ form.compte }}</td></tr>
        {% if form.date.errors %}
        <tr><td>{{ form.date.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.date.label_tag }}(*)</th><td>{{ form.date }}</td>
        {% comment %}
            TODO mettre comme dans admin le bouton aujourd'hui
        {% endcomment %}
        </tr>
        {% if form.date_val.errors %}
        <tr><td>{{ form.date_val.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.date_val.label_tag }}</th><td>{{ form.date_val }}</td>
        </tr>
        {% if form.tiers.errors %}
        <tr><td>{{ form.tiers.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.tiers.label_tag }}</th><td>{{ form.tiers }} </td>
        </tr>
        {% if form.montant.errors %}
        <tr><td>{{ form.montant.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.montant.label_tag }}</th><td>{{ form.montant }} {% dev %}</td>
        {% comment %}
            TODO rajouter fonction calculatrice
            TODO ajax et js pour changer la monnaie si changement de compte
        {% endcomment %}
        {% if form.cat.errors %}
        <tr><td>{{ form.cat.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.cat.label_tag }}</th><td>{{ form.cat }}</td></tr>
        {% if form.notes.errors %}
        <tr><td>{{ form.notes.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.notes.label_tag }}</th><td>{{ form.notes }}</td></tr>
        {% if form.moyen.errors %}
        <tr><td>{{ form.moyen.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.moyen.label_tag }}</th><td>{{ form.moyen }}</td></tr>
        {% if form.pointe.errors %}
        <tr><td>{{ form.pointe.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.pointe.label_tag }}</th><td>{{ form.pointe }}</td></tr>
        {% if form.rapp.errors %}
        <tr><td>{{ form.rapp.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.rapp.label_tag }}</th><td>{{ form.rapp }}</td></tr>
        {% if form.exercice.errors %}
        <tr><td>{{ form.exercice.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.exercice.label_tag }}</th><td>{{ form.exercice }}</td></tr>
        {% if form.ib.errors %}
        <tr><td>{{ form.ib.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.ib.label_tag }}</th><td>{{ form.ib }}
        {% if form.piece_comptable.errors %}
        <tr><td>{{ form.piece_comptable.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.piece_comptable.label_tag }}</th><td>{{ form.piece_comptable}}</td></tr>
    </table>
    </fieldset>
</form>
 {% load gsb_extras %}
{% load gsb_extras %}
<table style=" width: 100%;">
    <tr>{% if ope %}
        <td width="50%" class="boutton"><a href="javascript:document.forms['form1'].submit();">Ok</a></td>
        <td width="50%" class="boutton"><a href="{% url gsb.views.cpt_detail ope.compte_id %}">Annuler</a></td>
    </tr>
    </table>
<form id='form2' action="{% url gsb.views.ope_delete ope.id %}" method="post">
    {% csrf_token %}
</form>
<table style=" width: 100%;">
<tr>
        <td width="100%" class="boutton"><a href="javascript:document.forms['form2'].submit();">supprimer l'operation</a></td>
</tr>
</table>
{% else %}
    {% if cpt %}
        <td width="50%" class="boutton"><a href="javascript:document.forms['form1'].submit();">Ok</a></td>
        <td width="50%" class="boutton"><a href="{% url gsb.views.cpt_detail cpt.id %}">Annuler</a></td>
    </tr>
    {% else %}
    else
        <td width="50%" class="boutton"><a href="javascript:document.forms['form1'].submit();">Ok</a></td>
        <td width="50%" class="boutton"><a href="{% url 'gsb.views.cpt_detail' cpt.id %}">Annuler</a></td>
    </tr>
    {% endif %}
{% endif %}
 {# div pour le choix de la date #}
<div class="editDate ope_date_ope" id="editDateId"></div>
{% endblock content %}
