{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/operation.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css"/>
{% endblock css %}
{% block js %}
    <script type="text/javascript" language="JavaScript1.2" src="{{ STATIC_URL }}js/basiccalendar.js"></script>
    <script type="text/javascript" language="JavaScript1.2" src="{{ STATIC_URL }}js/operation.js"></script>
    <SCRIPT LANGUAGE="JavaScript">
<!-- Idea by:  Nic Wolfe -->
<!-- This script and many more are available free online at -->
<!-- The JavaScript Source!! http://javascript.internet.com -->

<!-- Begin
function popUp(URL) {
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=1,menubar=0,resizable=0,width=740,height=512,left = 300 ,top = 256');");
}
// End -->
</script>
{% endblock js %}
{% block content %}
<form id='form1' action="" method="post">
    {% csrf_token %}
    <fieldset class="operationMainTable">
    <table>
        {% if form.compte.errors %}
        <tr><td>{{ form.compte.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.compte.label_tag }}</th><td>{{ form.compte }}</td></tr>
        {% if form.date.errors %}
        <tr><td>{{ form.date.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.date.label_tag }}</th><td>{{ form.date }}</td>
        {% comment %}
            TODO mettre comme dans admin le bouton aujourd'hui
            TODO mettre comme dans admin le calendrier
        {% endcomment %}
        </tr>
        {% if form.date_val.errors %}
        <tr><td>{{ form.date_val.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.date_val.label_tag }}</th><td>{{ form.date_val }}</td>
        </tr>
        {% if form.tiers.errors %}
        <tr><td>{{ form.tiers.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.tiers.label_tag }}</th><td>{{ form.tiers }} <img src="{{ STATIC_URL }}img/tooltag-add.gif"  onClick="javascript:popUp('{% url gsb_tiers_create %}')"></td>
        </tr>
        {% if form.montant.errors %}
        <tr><td>{{ form.montant.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.montant.label_tag }}</th><td>{{ form.montant }} {% if ope %}{{ ope.compte.devise.isin}}{% else %}{% if cpt %}{{ cpt.devise.isin }}{% else %} {{ dev }} {% endif %} {% endif %}</td>
        {% comment %}
            TODO rajouter fonction calculatrice
            TODO ajax et js pour changer la monnaie si changement de compte
        {% endcomment %}
        {% if form.cat.errors %}
        <tr><td>{{ form.cat.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.cat.label_tag }}</th><td>{{ form.cat }}</td></tr>
        {% if form.notes.errors %}
        <tr><td>{{ form.notes.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.notes.label_tag }}</th><td>{{ form.notes }}</td></tr>
        {% if form.moyen.errors %}
        <tr><td>{{ form.moyen.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.moyen.label_tag }}</th><td>{{ form.moyen }}</td></tr>
        {% if form.pointe.errors %}
        <tr><td>{{ form.pointe.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.pointe.label_tag }}</th><td>{{ form.pointe }}</td></tr>
        {% if form.rapp.errors %}
        <tr><td>{{ form.rapp.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.rapp.label_tag }}</th><td>{{ form.rapp }}</td></tr>
        {% if form.exercice.errors %}
        <tr><td>{{ form.exercice.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.exercice.label_tag }}</th><td>{{ form.exercice }}</td></tr>
        {% if form.ib.errors %}
        <tr><td>{{ form.ib.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.ib.label_tag }}</th><td>{{ form.ib }}
                <div style='display:none'>{{ form.mere }}
        {{ form.jumelle }}</div></td></tr>
        {% if form.piece_comptable.errors %}
        <tr><td>{{ form.piece_comptable.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.piece_comptable.label_tag }}</th><td>{{ form.piece_comptable}}</td></tr>
    </table>
    </fieldset>
</form>
 {% load gsb_extras %}
 {% if ope %}
    {% bouton_form 'form1' 'gsb.views.cpt_detail' ope.compte_id %}
 {% else %}
    {% if cpt %}
        {% bouton_form 'form1' 'gsb.views.cpt_detail' cpt.id %}
    {% else %}
        {% bouton_form 'form1' 'gsb.views.index' %}
    {% endif %}
 {% endif %}
 {# div pour le choix de la date #}
<div class="editDate" id="editDateId"></div>
{% endblock content %}
