{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% block titre %}<h1>Outils</h1>{% endblock titre %}
{% block content %}
<p><a href="{% url gsb.gsb_0_5_0.export %}" class="progress"> télécharger le fichier </a></p>
<p><a href="{% url gsb.views.import_file %}" class="progress"> import d'un fichier dans l'application</a></p>
<p><a href="" class="error"> exporter l'ensemble des comptes en csv </a></p>
<p><a href="" class="error"> effacer les tiers vides </a></p>
<p><a href="" class="error">change les date des operations cartes differés</a></p>
<p><a href="" class="error">vérifier les totaux</a></p>
<p><a href="" class="error"> travaux en batch </a></p>

<p><a href="{% url gsb.views.index %}">retour vers le menu général</a></p>
{% endblock content %}