{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/operation.css" />{% endblock css}
{% block js %}
<script type="text/javascript" language="JavaScript1.2" src="{{ STATIC_URL }}js/basiccalendar.js"></script>
<script type="text/javascript" language="JavaScript1.2" src="{{ STATIC_URL }}js/operation.js"></script>
{% endblock js %}

{% block content %}
<form action="{% url gsb.views.ope_detail ope.id %}" method="post">
    <table>
        <tr><td>{% csrf_token %}</td></tr>
        {% if form.compte.errors %}
        <tr><td>{{ form.compte.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.compte.label_tag }</th><td>{{ form.compte }}</td></tr>
        {% if form.date.errors %}
        <tr><td>{{ form.date.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.date.label_tag }}</th><td>{{ form.date }}</td>
        {% comment %}
            TODO mettre comme dans admin le bouton aujourd'hui
            TODO mettre comme dans admin le calendrier
        {% endcomment %}
        </tr>
        {% if form.date_val.errors %}
        <tr><td>{{ form.date_val.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.date_val.label_tag }}</th><td>{{ form.date_val }}</td>
        </tr>
        {% if form.tiers.errors %}
        <tr><td>{{ form.tiers.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.tiers.label_tag }}</th><td>{{ form.tiers }}</td>
        </tr>
        {% comment %}
        TODO mettre un plus comme dans l'admin
        {% endcomment %}
        {% if form.montant.errors %}
        <tr><td>{{ form.montant.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.montant.label_tag }}</th><td>{{ form.montant }} {{ ope.compte.devise.isin}}</td>
        {% comment %}
            TODO rajouter fonction calculatrice
            TODO ajax et js pour changer la monnaie si changement de compte
        {% endcomment %}
        {% if form.cat.errors %}
        <tr><td>{{ form.cat.errors }}</td></tr>
        {% endif %}
        <tr><th>{{ form.cat.label_tag }}</th><td>{{ form.cat }}</td></tr>
        <tr><th>{{ form.notes.label_tag }}</th><td>{{ form.notes }}</td></tr>
        <tr><th>{{ form.moyen.label_tag }}</th><td>{{ form.moyen }}</td></tr>
        <tr><th>{{ form.pointe.label_tag }}</th><td>{{ form.pointe }}</td></tr>
        <tr><th>{{ form.rapp.label_tag }}</th><td>{{ form.rapp }}</td></tr>
        <tr><th>{{ form.exercice.label_tag }}</th><td>{{ form.exercice }}</td></tr>
        <tr><th>{{ form.ib.label_tag }}</th><td>{{ form.ib }}</td></tr>
        {# attention on ne met pas jumelle car les virements sont gérés autrement #}
        <tr><th>{{ form.mere.label_tag }}</th><td>{{ form.mere }}</td></tr>
        <tr><th>{{ form.piece_comptable.label_tag }}</th><td>{{ form.piece_comptable}}</td></tr>
    </table>
</form>
{% endblock content %}