{% extends "generic.django.html" %}
{% comment %} coding: utf-8 {% endcomment %}
{% block titre %}<h1 class="survol">Comptes</h1>{% endblock titre %}
{% comment %} il faut mettre le lien vers les fonctions speciales{% endcomment %}
{% block content %}
{% load gsb_extras %}
<table width="100%" id="boutons">
	<tr>
		<td width="100%" class="boutton" ><a href="comptes.php">retour liste comptes</a></td>
	</tr>
</table>
<br/>
<table width="100%" id="main">
	<thead>
		<tr>
			<th >placement</th>
			<th align="right">montant plac&eacute;</th>
			<th >+/- values</th>
			<th >total</th>
		</tr>
	</thead>
	{foreach from=$titres item=titre}
	<tr class="item hover">
		<td class="opTier"><a href="placement.php?cpt_id={$cpt_id}&amp;titre={$titre.id}">{$titre.nom|escape:'htmlall':'UTF-8'}</a></td>
		<td class="opDebit"><a href="placement.php?cpt_id={$cpt_id}&amp;titre={$titre.id}">{$titre.mise|nbfr:$devise}</a></td>
		<td class="opCredit"><a href="placement.php?cpt_id={$cpt_id}&amp;titre={$titre.id}">{$titre.pmv|nbfr:$devise}</a></td>
		<td class="opDebit"><a href="placement.php?cpt_id={$cpt_id}&amp;titre={$titre.id}">{$titre.mise+$titre.pmv|nbfr:$devise}</a></td>
	</tr>
	{foreachelse}
		<tr class="item">
			<td colspan="5">
				aucune placement.<br/>
			</td>
		</tr>
	{/foreach}
	<tr class="item hover">
		<td class="opTier">compte espèce</td>
		<td class="opDebit">{$espece|nbfr:$devise}</td>
		<td class="opCredit">&nbsp;</td>
		<td class="opDebit">{$espece|nbfr:$devise}</td>
	</tr>
		<tr class="footerbar">
			<td colspan="3" class="cptLabel">Solde</td><td colspan="2" class="cptSolde">{$solde_compte|nbfr:$devise}</td>
		</tr>
</table>
{% endblock content %}
