{% extends "generic.html" %}
{% block content %}
<table width="100%" id="boutons">
	<tr>
	{%if cloture%}
		<td  width="100%"  class="boutton" ><a href="comptes.php">retour liste comptes</a></td>
	</tr>
	{else}
		<td width="50%" class="boutton" ><a href="operation.php?cpt_id={$cpt_id}">Nouvelle Op.</a></td>
		<td  width="50%"  class="boutton" ><a href="comptes.php">retour liste comptes</a></td>
			</tr>
	<tr>
		<td width="100%" class="boutton" colspan="2"> <a href="virement.php?cpt_id={$cpt_id}" > Nouveau Virement vers {$compte_nom|escape:'htmlall':'UTF-8'} </a></td>
	</tr>
	{/if}
</table>
<br/>
<table width="100%" id="main">
	<thead>
		<tr>
			<th >Date</th>
			<th >Tiers</th>
			<th >Cat&eacute;gorie</th>
			<th >Cr&eacute;dit</th>
			<th >D&eacute;bit</th>
		</tr>
	</thead>
	{foreach from=$opes item=ope}
	{if $cloture}
		{if $ope.virement}
			<tr class="item hover {$ope.class2}">
				<td class="opDate">{ ope.date|date:"d/m/Y" }</td>
				<td class="opTier">{ ope.tiers_name|escape:'htmlall':'UTF-8'}</td>
				<td class="opTier">virement</td>
				<td class="opCredit">{ ope.credit|nbfr:devise}</td>
				<td class="opDebit">{ ope.debit|nbfr:devise}</td>
			</tr>
		{else}
			<tr class="item hover {$ope.class2}">
				<td class="opDate">{ ope.date|date:"d/m/Y" }</td>
				<td class="opTier">{ ope.tiers_name|escape:'htmlall':'UTF-8' }</td>
				<td class="opTier">{ ope.cat_name|escape:'htmlall':'UTF-8' }</td>
				<td class="opCredit">{ ope.credit|nbfr:$devise }</td>
				<td class="opDebit">{ ope.debit|nbfr:$devise }</td>
			</tr>
		{/if}
	{else}
		{if $ope.virement}
			<tr class="item hover {$ope.class2}">
				<td class="opDate"><a href="virement.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.date|date_format:"%d/%m/%Y"}</a></td>
				<td class="opTier"><a href="virement.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.tiers_name|escape:'htmlall':'UTF-8'}</a></td>
				<td class="opTier"><a href="virement.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">virement</a></td>
				<td class="opCredit"><a href="virement.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.credit|nbfr:$devise}</a></td>
				<td class="opDebit"><a href="virement.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.debit|nbfr:$devise}</a></td>
			</tr>
		{else}
			<tr class="item hover {$ope.class2}">
				<td class="opDate"><a href="operation.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.date|date_format:"%d/%m/%Y"}</a></td>
				<td class="opTier"><a href="operation.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.tiers_name|escape:'htmlall':'UTF-8'}</a></td>
				<td class="opTier"><a href="operation.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.cat_name|escape:'htmlall':'UTF-8'}</a></td>
				<td class="opCredit"><a href="operation.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.credit|nbfr:$devise}</a></td>
				<td class="opDebit"><a href="operation.php?cpt_id={$cpt_id}&amp;ope_id={$ope.id}">{$ope.debit|nbfr:$devise}</a></td>
			</tr>
		{/if}
	{/if}
	{foreachelse}
		<tr class="item">
			<td colspan="5">
				aucune op&eacute;ration n&apos;est affich&eacute;.<br/>
				{if $nbfiltre>1}
					{$nbfiltre} op&eacute;rations ont &eacute;t&eacute; filtr&eacute;es car elles sont au del&agrave; de la limite des {$smarty.const.NB_JOURS_AFF} jours maximum.<br/>
				{elseif $nbfiltre==1}
					1 op&eacute;ration a &eacute;t&eacute; filtr&eacute;e car elle est au del&agrave; de la limite des {$smarty.const.NB_JOURS_AFF} jours maximum.<br/>
				{/if}

			</td>
		</tr>
	{/foreach}
		<tr class="footerbar">
			<td colspan="3" class="cptLabel">Solde</td><td colspan="2" class="cptSolde">{$solde_compte|nbfr:$devise}</td>
		</tr>
</table>
{if $nbrapp>1}
	note: {$nbrapp} op&eacute;rations ont &eacute;t&eacute; filtr&eacute;es car elles sont rapproch&eacute;es.<br/>
{elseif $nbrapp==1}
	note: 1 op&eacute;ration a &eacute;t&eacute; filtr&eacute;e car elle est rapproch&eacute;e.<br/>
{/if}
{% endblock content %}
