{% extends "generic.html" %}
{% block content %}
{% load gsb_extras %}
<h1 class="survol">Comptes</h1>
<h2>comptes esp&egrave;ces ou bancaires</h2>
<table id="banques">
{% for cpt in liste_cpt_bq %}
		<tr class="item padding">
			<td class="cptLabel"><a href="{% url gsb.cpt_detail cpt.id% }" >{{ cpt.nom }}</a></td>
			<td class="cptSolde"><a href="{% url gsb.cpt_detail cpt.id% }" >{{ cpt.solde|cur }}</a></td>
		</tr>
	{% empty %}
	<tr class="item padding">
		<td class="cptLabel" colspan="2"> aucun compte</td>
	</tr>
{% endfor %}
	<tr class="entete"><td class="cptLabel">Solde comptes banques et comptes esp&egrave;ces</td><td class="cptSolde">{{ total_bq|cur}}</td></tr>
</table>

<h2>autres comptes (Actifs et Passifs)</h2>
<table id="placements">
	{% for cpt in liste_cpt_pl %}
	<tr class="item padding">
		<td class="cptLabel"><a href="{% url gsb.cpt_pl_detail cpt.id% }" >{{ cpt.nom }}</a></td>
		<td class="cptSolde"><a href="{% url gsb.cpt_pl_detail cpt.id% }" >{{ cpt.solde|cur }}</a></td>
	</tr>
	{% empty %}
	<tr class="item padding">
		<td class="cptLabel" colspan="2"> aucun compte d'actif ou de passif </td>
	</tr>
	{% endfor %}
	<tr class="entete">
		<td class="cptLabel">Solde des autres comptes</td>
		<td class="cptSolde">{{ total_pla|cur}}</td>
	</tr>
</table>
<table id="total">
	<tr class="footerbar">
		<td class="cptLabel">Solde GLOBAL</td>
		<td class="cptSolde">{{ total|cur}}</td>
	</tr>
</table>
{%if nbclos > 0 %}<p>PS: il y a {{nbclos}} compte{% if nbclos > 1 %}s{% endif %} clos.</p>{% endif%}
{% endblock content %}
